 #plate {
    width: 610px;
    height: 610px;
    background-color: red;
    margin: auto;
}

td {
    margin-left: 0.1rem;
    display: inline-block;
    border: 1px solid black;
    padding: 1rem;
    width: 25px;
    height: 25px;
    
}
table {
    border-collapse: collapse;
}
#red {
    background-color: red;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
#white {
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
